<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "hairology", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
        <% if user_signed_in? %>
          <li>Logged in as <%= current_user.username %></li>
          <li><%= link_to "Users", '#' %></li>
          <li> <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
